<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>PWA Demo</title>

        <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-16x16.png">
        <!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
        
        <!-- Add to home screen for Android and modern mobile browsers -->
        <!-- <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json"> -->
        
        <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.webmanifest">

        <!-- font awesome used if Forms.vue for checkmark icon -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <link href="https://unpkg.com/vue-croppa/dist/vue-croppa.min.css" rel="stylesheet" type="text/css">

        <meta name="theme-color" content="#4DBA87">
        <script src="https://api-maps.yandex.ru/2.1/?apikey=b3b56760-dc4c-4cb5-a2d7-b34eb885ac0c&lang=ru_RU" type="text/javascript"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxmyfiXz7w1yrAGl_zQIsWFWtOWRyhU4A" async defer></script>
        
        <!-- Add to home screen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="qr-scanner">
        <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-152x152.png">
        <link rel="mask-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/safari-pinned-tab.svg" color="#4DBA87">
        
        <!-- Add to home screen for Windows -->
        <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/msapplication-icon-144x144.png">
        <meta name="msapplication-TileColor" content="#000000">
        <% for (var chunk of webpack.chunks) {
                for (var file of chunk.files) {
                    if (file.match(/\.(js|css)$/)) { %>
        <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>  
    </head>
    <body style="height: 100%; width: 100%; overflow-y: scroll; overscroll-behavior-y: none; background-color: rgb(255, 255, 255);">
        <noscript>
            This is your fallback content in case JavaScript fails to load.
        </noscript>
        <div id="app"></div>
        
        <!-- Todo: only include in production -->
        <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
        <!-- built files will be auto injected -->
    </body>
</html> 